<template>
  <div>
    <div>
      <h1>izzzi.net nuxt3 template</h1>
      <h2>Start Building your personal izzzzi.net site <strong>here</strong>!</h2>
    </div>
    <div>
    <UButton 
    :loading="loading" 
    color="primary" 
    label="This is an action item!" 
    to="/about"
    target="_blank"
    ;;:ui="{ rounded: 'rounded-full' }"
    ;;class="rounded-xl font-extrabold"
    />
  </div>
    <NuxtPage />
  </div>
</template>

<script setup>
const loading = ref(true);
</script>