body {
    font-family: "IBM Plex Serif";
  }
  
  h1 {
    font-family: "IBM Plex Mono";
  }
  
  p {
    font-family: "IBM Plex Sans";
  }
  

.card{
  @apply rounded bg-white border-gray-200 shadow-md overflow-hidden relative;
}

.badge{
  @apply absolute top-0 ml-2 p-2 mt-2 text-xs uppercase font-bold rounded-full;
}

.btn{
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
}
