<template>
    <div>
        <div class="max-w-3xl px-4 mx-auto">
        <!-- header-->
            <header class="mt-16 mb-4 flex justify-between items-end">
                <div>
                    <NuxtLink to="/"><h1 class="text-2xl font-semibold">kaatsk.net/~darwin</h1></NuxtLink>
                    <h4 class="text-gray-500"><strong>your</strong> creative webhome in Delhi, NY</h4>
                </div>
                <Btn>Do Something!</Btn>
            </header>
            <div class="max-w-3xl px-4 pb-3">
                <nav class="mx-auto mt-5">
                    <ul class="flex gap-4">
                        <div>

                        </div>
                        <li><NuxtLink to="http://kaatsk.net/" target="_blank">kaatsk.net</NuxtLink></li>
                        <li><NuxtLink to="/">Home</NuxtLink></li>
                        <li><NuxtLink to="/about">About</NuxtLink></li>
                        <li><NuxtLink to="/build">Build</NuxtLink></li>
                    </ul>
                </nav>
            </div>
        <!--- ./header -->
    
        <!--- Main -->
            <div>
                <slot />
            </div>
        <!--- ./Main -->
        </div>
            <footer class="max-w-3xl mx-auto px-4">
                <nav class="container mx-auto p-4 flex justify-between">
                    <ul class="flex gap-4">
                        <li><NuxtLink to="http://kaatsk.net/" target="_blank">kaatsk.net</NuxtLink></li>
                        <li><NuxtLink to="/">Home</NuxtLink></li>
                        <li><NuxtLink to="/about">About</NuxtLink></li>
                        <li><NuxtLink to="/build">Build</NuxtLink></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </template>
    
    <style scoped>
        .router-link-exact-active {
            color: #12b488;
        }
    
    
    </style>